		*{
			margin:0;
			padding:0;
		}
		body{
			font-size:14px;
			font-family: "微软雅黑";
		}
		li,ol{
			list-style:none;
		}
		a{
			text-decoration:none;
			color:#333;
		}
		a:hover{
			text-decoration:none;
		}
		.mtop10{
			margin-top:0.1em;
		}
		.ct{
			text-align:center;
		}
		.footer{
			padding-top:1em;
			padding-bottom:1em;
			background:#019877;
			text-align:center;
		}
		.imgct{
			margin:0 auto;
		}
		.pd0{
			padding-left:0;
			padding-right:0;
		}
		nav img{
			width:3em;
			height:3em;
			margin:0 auto;
		}
		nav a{
			display:block;
		}
		nav a:hover{
			background:#62cbdb;
			border-radius:20px;
		}